# NetBeans specific #
**/nbproject/private
**/build
**/nbbuild
**/dist
**/nbdist

nbactions.xml
nb-configuration.xml
genfiles.properties
private.xml
build-impl.xml
build-impl.xml~

# Class Files #
*.class


# Package Files #
*.jar
*.war
*.ear

!**/lib/*

# Mac OSX #
.DS_Store

# Local configuration files #
*.conf.xml
