#passstrength {
    color:red;
    font-family:verdana;
    font-size:10px;
    font-weight:bold;
}

.ok {
    
    color: green;
  
}
.alert {
    color: yellow;
   
}

.error {
    color:red;
    font-family:verdana;
    font-size:10px;
    font-weight:bold;
}

